//form validation errors
.errors {
    padding: 20px 10px 10px 10px;
    border-radius: 5px;
}

.alert-danger {
    background: #F79B29 !important;
    color: white !important;
    width: 430px;
    margin: 0 auto;
}